@import 'nord.css';

body {
    background-color: var(--nord0);
    color: var(--nord4);
}

.promptbox{
    width: 80%;
    height: 15%;
    border: 1px dotted var(--nord4);
}

.prompttext{
    
    margin: 1ch !important;
    overflow: hidden;

}

.ok{
    color: var(--nord10)
}

.wrong{
    color: var(--nord15)
}

