@import 'nord.css';

body {
    background-color: var(--nord0);
    color: var(--nord4);
}

.promptbox{
    border: 1px dotted var(--nord4);
}

.prompttext{
    
    margin: 1ch !important;
    overflow: hidden;

}

 .input-field{
    margin: 1.5rem;
}

.input-field > input {
    color: var(--nord10);
}

.ok{
    color: var(--nord10)
}

.wrong{
    color: var(--nord15)
}

